<head>
  <%= stylesheet_link_tag 'registrationEdit.css' %>
</head>

<body>

<!--==========Navbar==========-->
    <nav>
      <!--=====Logo=====-->
      <div class="logo">
        <a href="/">
          <%= image_tag('Workly_Logo.png', class:"logo", height: "120px") %>
        </a>
      </div>
      <!--=====Schede=====-->
      <ul id="navbar">
        <li><%= link_to "Home", home_pages_path%></li>
        <li><%= link_to "Workers", workers_path%></li>
        <li><%= link_to "Gigs", gigs_path%></li>
        <li><%= link_to "Lavori", lavoros_path%></li>
        <li>
            <% if !user_signed_in? %>
              <div class="loginbox">
              <%= link_to 'Login', new_user_session_path, :method => :get, class: "btn btn-outline-light btn-lg"%>
              </div>
            <% end %>

            <% if user_signed_in? %>
                <div class="loginbox">
                    <a href="/user_pages/<%= current_user.id %>" class="btn btn-outline-light btn-lg" >User Page</a>
                </div>
            <% end %>

        </li>
      </ul>
    </nav>
    <!--==========Fine Navbar==========-->

    <br>


  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="center">
    <br>
    <h1>Cambia la tua password</h1>
    <div id="form">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, data: {turbo: "false"}) do |f| %>

        <div class="txt_field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="txt_field">
          <%= f.label :password %> <i>(<em>Inserisci almeno <%= @minimum_password_length %> caratteri</em>)</i><br />
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>

        <div class="txt_field">
          <label>Conferma password</label>
          <br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>

        <div class="txt_field">
          <label>Password corrente</label> 
          <i>(ci server la tua password corrente per confermare la tua modifica)</i><br />
          <%= f.password_field :current_password, autocomplete: "current-password" %>
        </div>

        <div class="actions">
          <%= f.submit "Aggiorna", class: 'btn btn-primary' %>
        </div>
        <br>
        <%= link_to "Indietro", :back %>
        <br>
        <br>

      <% end %>
    </div>

  </div>
</body>