<head>
  <%= stylesheet_link_tag 'password.css' %>
</head>

<body> 


<!--==========Navbar==========-->
    <nav>
      <!--=====Logo=====-->
      <div class="logo">
        <a href="/">
          <%= image_tag('Workly_Logo.png', class:"logo", height: "120px") %>
        </a>
      </div>
      <!--=====Schede=====-->
      <ul id="navbar">
        <li><%= link_to "Home", home_pages_path%></li>
        <li><%= link_to "Workers", workers_path%></li>
        <li><%= link_to "Gigs", gigs_path%></li>
        <li><%= link_to "Lavori", lavoros_path%></li>
        <li>
            <% if !user_signed_in? %>
              <div class="loginbox">
              <%= link_to 'Login', new_user_session_path, :method => :get, class: "btn btn-outline-light btn-lg"%>
              </div>
            <% end %>

            <% if user_signed_in? %>
                <div class="loginbox">
                    <a href="/user_pages/<%= current_user.id %>" class="btn btn-outline-light btn-lg" >User Page</a>
                </div>
            <% end %>

        </li>
      </ul>
    </nav>
    <!--==========Fine Navbar==========-->

    <br>

  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="center">
    <br>
    <h1>Hai dimenticato la tua password?</h1>
    <div id="form">

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

        <div class="txt_field">
          <%= f.email_field :email,  placeholder: "Email", autofocus: true, autocomplete: "email", required: true %>
        </div>

        <div class="actions">
          <%= f.submit "Inviami le istruzioni per resettare la password" %>
        </div>
      <% end %>

    <%= render "devise/shared/links" %>

    </div>
  </div>
</body>