<head>
  <%= stylesheet_link_tag 'login.css' %>
</head>

<body> 
  <div class="center">
    <br>
    <h1>Hai dimenticato la tua password?</h1>
    <div id="form">

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="txt_field">
          <%= f.email_field :email,  placeholder: "Email", autofocus: true, autocomplete: "email" %>
        </div>

        <div class="actions">
          <%= f.submit "Inviami le istruzioni per resettare la password" %>
        </div>
      <% end %>

    <%= render "devise/shared/links" %>

    </div>
  </div>
</body>