 <%= stylesheet_link_tag 'assistenza.css' %>


<!--==========Navbar==========-->
    <nav>
      <!--=====Logo=====-->
      <div class="logo">
        <a href="/">
          <%= image_tag('Workly_Logo.png', class:"logo", height: "120px") %>
        </a>
      </div>
      <!--=====Schede=====-->
<script>
      const Http = new XMLHttpRequest();
      const url='http://127.0.0.1:3000/cmc';
      Http.open("GET", url);
      Http.send();

      Http.onreadystatechange = (e) => {
        let res = JSON.parse(Http.responseText)
        let pricesRecords = res.data;
        let mainCrypto = ['BTC', 'ETH', 'BNB', 'DOGE'];
        let html = '<ul>';
        for( let record of pricesRecords ){
          if( !mainCrypto.includes(record.symbol) ) continue;
          else html += '<li>' + `${ record.symbol }: ${record.quote.USD.price.toFixed(3)}$` + '</li>';
        }
        html += '</ul>'
        console.log( html )
        let container = document.getElementById("crypto-prices");
        container.innerHTML = html;
      }
    </script>
    <div id="crypto-prices"></div>
     
      <ul id="navbar">
        <li><%= link_to "Home", home_pages_path%></li>
        <li><%= link_to "Workers", workers_path%></li>
        <li><%= link_to "Gigs", gigs_path%></li>
        <li><%= link_to "Lavori", lavoros_path%></li>
        <li>
            <% if !user_signed_in? %>
              <div class="loginbox">
                <%= link_to 'Login', new_user_session_path, :method => :get, class: "btn btn-outline-light btn-lg"%>
              </div>
            <% end %>

            <% if user_signed_in? %>
              <div class="loginbox">
                <a href="/user_pages/<%= current_user.id %>" class="btn btn-outline-light btn-lg" >User Page</a>
              </div>
            <% end %>

        </li>
      </ul>
    </nav>
    <!--==========Fine Navbar==========-->


    <br>
    <br>



<h1> Assistenza </h1>

<%= form_with model: @contact do |f| %>
  
  <div>
    <%= f.label :nome %><br>
    <%= f.text_field :name, required: true %>
  </div>

  <div>
    <%= f.label :email %><br>
    <% if current_user %>
      <%= f.text_field :email, required: true, value:current_user.email  %>
    <% else %>
      <%= f.text_field :email, required: true%>
    <% end %>
  </div>

  <div>
    <%= f.label :messaggio %><br>
    <%= f.text_area :message, required: true %>
  </div>

  <br>

  <div>
    <%= f.submit "Invia messaggio" %>
  </div>

  <br>

  <%= link_to root_path do %>
    <i class="fa-solid fa-house"></i> Torna alla home
  <% end %>

<% end %>