<head>
  <%= stylesheet_link_tag 'home_page.css' %>
</head>

<body>
<!--==========Navbar==========-->
    <nav>
      <!--=====Logo=====-->
      <div class="logo">
        <a href="/">
          <%= image_tag('Workly_Logo.png', class:"logo", height: "120px") %>
        </a>
      </div>
      <!--=====Schede=====-->
      <ul id="navbar">
        <li><%= link_to "Home", home_pages_path, class: "active"%></li>
        <li><%= link_to "Workers", workers_path%></li>
        <li><%= link_to "Gigs", gigs_path%></li>
        <li><%= link_to "Lavori", lavoros_path%></li>
        <li>
            <% if !user_signed_in? %>
              <div class="loginbox">
                <%= link_to 'Login', new_user_session_path, :method => :get, class: "btn btn-outline-light btn-lg"%>
              </div>
            <% end %>

            <% if user_signed_in? %>
              <div class="loginbox">
                <a href="/user_pages/<%= current_user.id %>" class="btn btn-outline-light btn-lg" >User Page</a>
              </div>
            <% end %>

        </li>
      </ul>
    </nav>
    <!--==========Fine Navbar==========-->

    <!--==========Carousel==========-->
    <div id="carousel" class="carousel slide" data-bs-ride="carousel">
      <!--=====Indicatori=====-->
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#carousel"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#carousel"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          data-bs-target="#carousel"
          data-bs-slide-to="2"
          aria-label="Slide 3"
        ></button>
      </div>

      <!--=====Slide=====-->
      <div class="carousel-inner">
        <!--=====Item1=====-->
        <div class="carousel-item active">
            <%= image_tag('lavoratore_informatico.webp', alt: "Workers") %>
          <div class="container">
            <div class="carousel-caption">
              <div class="caption">
                <h1 id="S1">Workers</h1>

                <p id="caption">
                  Esperto nei linguaggi rails e nodejs
                </p>
                <a href="/workers"><button class="btn btn-lg btn-outline-light" id="CarouselButton1"> Esplora <i class="fa-solid fa-arrow-right"></i></button></a>
              </div>
            </div>
          </div>
        </div>
        <!--=====Item2=====-->
        <div class="carousel-item">
          <%= image_tag('gig.jpg', alt: "Gigs") %>
          <div class="container">
            <div class="carousel-caption">
              <div class="caption">
                <h1 id="S2">Gigs</h1>

                <p id="caption">
                  Architetto
                </p>
                <a href="/gigs"><button class="btn btn-lg btn-outline-light" id="CarouselButton2"> Esplora <i class="fa-solid fa-arrow-right"></i></button></a>
              </div>
            </div>
          </div>
        </div>
        <!--=====Item3=====-->
        <div class="carousel-item">
        <%= image_tag('job.jpg', alt: "Lavori") %>
          <div class="container">
            <div class="carousel-caption">
              <div class="caption">
                <h1 id="S3">Lavori</h1>

                <p id="caption">
                  Avvocato
                </p>
                <a href="/lavoros"><button class="btn btn-lg btn-outline-light" id="CarouselButton3"> Esplora <i class="fa-solid fa-arrow-right"></i></button></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--==========Fine Carousel==========-->

    <!--==========Info==========-->
    <div class="InfoSite">
      <h1>Workly</h1>
        <section id="InfoWorkly">
          <p>Descrizione Workly</p>
        </section>
        <br>
        <br>
        <br>
        <br>
        <section id="InfoGig">
          <p>Descrizione Gigs</p>
          <%= image_tag('gig-description.jpg') %>
        </section>
        <br>
        <br>
        <br>
        <br>
        <section id="InfoLavori">
          <p>Descrizione Lavori</p>
          <%= image_tag('job-description.jpg') %>
        </section>
    </div>
    <br>
    <br>
    <br>
    <br>
    <!--==========Fine Sezione Info==========-->


    <script>
    const Http = new XMLHttpRequest();
    const url='http://localhost:3000/cmc';
    Http.open("GET", url);
    Http.send();

    Http.onreadystatechange = (e) => {
      let res = JSON.parse(Http.responseText)
      let pricesRecords = res.data;
      let mainCrypto = ['BTC', 'ETH', 'BNB', 'DOGE'];
      let html = '<ul>';
      for( let record of pricesRecords ){
        if( !mainCrypto.includes(record.symbol) ) continue;
        else html += '<li>' + `${ record.symbol }: ${record.quote.USD.price.toFixed(3)}$` + '</li>';
      }
      html += '</ul>'
      console.log( html )
      let container = document.getElementById("crypto-prices");
      container.innerHTML = html;
    }
    </script>
    <div id="crypto-prices"></div>

    <!--==========Assistenza==========-->

    <%= link_to new_contact_path do %>
      <i class="fa-solid fa-headset"></i> Assistenza
    <% end %>

    <!--==========Fine Assistenza==========-->


</body>