<head>
    <%= stylesheet_link_tag 'edit_user.css' %>
</head>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<body>

<!--==========Navbar==========-->
    <nav>
      <!--=====Logo=====-->
      <div class="logo">
        <a href="/">
          <%= image_tag('Workly_Logo.png', class:"logo", height: "120px") %>
        </a>
      </div>
      <!--=====Schede=====-->
<script>
      const Http = new XMLHttpRequest();
      const url='http://127.0.0.1:3000/cmc';
      Http.open("GET", url);
      Http.send();

      Http.onreadystatechange = (e) => {
        let res = JSON.parse(Http.responseText)
        let pricesRecords = res.data;
        let mainCrypto = ['BTC', 'ETH', 'BNB', 'DOGE'];
        let html = '<ul>';
        for( let record of pricesRecords ){
          if( !mainCrypto.includes(record.symbol) ) continue;
          else html += '<li>' + `${ record.symbol }: ${record.quote.USD.price.toFixed(3)}$` + '</li>';
        }
        html += '</ul>'
        console.log( html )
        let container = document.getElementById("crypto-prices");
        container.innerHTML = html;
      }
    </script>
    <div id="crypto-prices"></div>
      <ul id="navbar">
        <li><%= link_to "Home", home_pages_path%></li>
        <li><%= link_to "Workers", workers_path%></li>
        <li><%= link_to "Gigs", gigs_path%></li>
        <li><%= link_to "Lavori", lavoros_path%></li>
        <li>
            <% if !user_signed_in? %>
              <div class="loginbox">
              <%= link_to 'Login', new_user_session_path, :method => :get, class: "btn btn-outline-light btn-lg"%>
              </div>
            <% end %>

            <% if user_signed_in? %>
                <div class="loginbox">
                    <a href="/user_pages/<%= current_user.id %>" class="btn btn-outline-light btn-lg" >User Page</a>
                </div>
            <% end %>

        </li>
      </ul>
    </nav>
    <!--==========Fine Navbar==========-->

    <br>

    <div class="center">
        <br>
        <h1>Modifica Utente</h1>
        <div id="form">

            <%= form_with url: "/user_pages/"+ @user.id, method: :patch do |f| %>
                <div class="img_field">
                    <label>Foto Profilo</label>
                    <br>
                    <%= f.hidden_field :img, :value => @user.img, id: "f"%>
                    <br>
                    <input type="file" id="file">
                    <br>
                    <br>
                    <% if @user.img == ""%>
                        <% @user.img = "avatar-user.png" %>
                    <% end %>
                    <%= image_tag(@user.img, width: "175px", height: "175px", class: "rounded-circle", id: "img") %>
                </div>

                <div class="row">

                    <div class="col">
                        <div class="txt_field">
                            <%= f.label :Nome %>
                            <br>
                            <%= f.text_field :name, :value => @user.name, :required => true %>
                        </div>
                    </div>

                    <div class="col">
                        <div class="txt_field">
                            <%= f.label :Address %>
                            <br>
                            <%= f.text_field :address, :value => @user.address, :required => true %>
                        </div>
                    </div>
                    
                </div>

                <div class="field">
                    <%= f.label :Skill %>
                    <br>
                    <div class="row">
                        <div class="col-md-4">

                            <input type="checkbox" value= "WordPress-Developer; " id="1">
                            <label for="1">WordPress-Developer</label>

                        </div>

                        <div class="col-md-4">
                        
                            <input type="checkbox" value= "Shopify-Developer; " id="2">
                            <label for="2">Shopify-Developer</label>

                        </div>

                        

                        <div class="col-md-4">

                            <input type="checkbox" value= "Wlx-Developer; " id="3">
                            <label for="3">Wlx-Developer</label>

                        </div>

                        </div>

                        <div class="row">

                        <div class="col-md-4">

                            <input type="checkbox" value= "Android-Developer; " id="4">
                            <label for="4">Android-Developer</label>

                        </div>

                        <div class="col-md-4">

                            <input type="checkbox" value= "IOS-Developer; " id="5">
                            <label for="5">IOS-Developer</label>

                        </div>

                        <div class="col-md-4">

                            <input type="checkbox" value= "Python-Developer; " id="6">
                            <label for="6">Python-Developer</label>

                        </div>

                        </div>

                        <div class="row">

                        <div class="col-md-4">

                            <input type="checkbox" value= "JavaScript-Developer; " id="7">
                            <label for="7">JavaScript-Developer</label>

                        </div>

                        <div class="col-md-4">

                            <input type="checkbox" value= "HTML-CSS-Developer; " id="8">
                            <label for="8">HTML-CSS-Developer</label>

                        </div>

                        </div>
                        
                        <%= f.hidden_field :skill, :value => @user.skill, id: "skill"%>

                </div>

                <div class="select_field">
                    <%= f.label :Categoria %>
                    <br>
                    <% if @user.category=="Sviluppo di siti web"%>
                      <%= f.select :category, [[@user.category, @user.category], ['Sviluppo di applicazioni', 'Sviluppo di applicazioni'], ['Assistenza e Sicurezza Informatica', 'Assistenza e Sicurezza Informatica'], ['Varie', 'Varie']]%>
                    <% end %>
                    <% if @user.category=="Sviluppo di applicazioni" %>
                      <%= f.select :category, [[@user.category, @user.category], ['Sviluppo di siti web', 'Sviluppo di siti web'], ['Assistenza e Sicurezza Informatica', 'Assistenza e Sicurezza Informatica'], ['Varie', 'Varie']]%>
                    <% end %>
                    <% if @user.category=="Assistenza e Sicurezza Informatica" %>
                      <%= f.select :category, [[@user.category, @user.category], ['Sviluppo di siti web', 'Sviluppo di siti web'], ['Sviluppo di applicazioni', 'Sviluppo di applicazioni'], ['Varie', 'Varie']]%>
                    <% end %>
                    <% if @user.category=="Varie" %>
                      <%= f.select :category, [[@user.category, @user.category], ['Sviluppo di siti web', 'Sviluppo di siti web'], ['Sviluppo di applicazioni', 'Sviluppo di applicazioni'], ['Assistenza e Sicurezza Informatica', 'Assistenza e Sicurezza Informatica']]%>
                    <% end %>
                    <% if @user.category=="nessuna" %>
                      <%= f.select :category, [['Sviluppo di siti web', 'Sviluppo di siti web'], ['Sviluppo di applicazioni', 'Sviluppo di applicazioni'], ['Assistenza e Sicurezza Informatica', 'Assistenza e Sicurezza Informatica'], ['Varie', 'Varie']], { :include_blank => '-- Select One --' }, :required => true%>
                    <% end %>
                </div>
                <br>
                <div>
                <%= f.submit "Modifica", class: 'btn btn-primary' %>
                </div>
                <br>

            <% end %>
        </div>
    </div>

    <script>

      var file = document.getElementById("file").addEventListener('change', function() {
        var fr=new FileReader();
        fr.onload=function(){
            document.getElementById('f').value=fr.result;
            document.getElementById('img').src=fr.result;
        } 
        fr.readAsDataURL(this.files[0]);
      })

      $(document).ready(function(){
       
       var skill=$("#skill").val().split("; ");
       var l= skill.length;
       var i;
       for (i=0; i<l; i++){
        if(skill[i]=="WordPress-Developer") $("#1").prop('checked', true);
        else if(skill[i]=="Shopify-Developer") $("#2").prop('checked', true);
        else if(skill[i]=="Wlx-Developer") $("#3").prop('checked', true);
        else if(skill[i]=="Android-Developer") $("#4").prop('checked', true);
        else if(skill[i]=="IOS-Developer") $("#5").prop('checked', true);
        else if(skill[i]=="Python-Developer") $("#6").prop('checked', true);
        else if(skill[i]=="JavaScript-Developer") $("#7").prop('checked', true);
        else if(skill[i]=="HTML-CSS-Developer") $("#8").prop('checked', true);
       }

      $("#1").click(function(){
        var x=$("#1").val();
        if ($("#1").is(":checked"))
          $("#skill").val($("#skill").val() + x);
        else
          $("#skill").val($("#skill").val().replace(x, ""));
      });

       $("#2").click(function(){
        var x=$("#2").val();
        if ($("#2").is(":checked"))
          $("#skill").val($("#skill").val() + x);
        else
          $("#skill").val($("#skill").val().replace(x, ""));
      });

       $("#3").click(function(){
        var x=$("#3").val();
        if ($("#3").is(":checked"))
          $("#skill").val($("#skill").val() + x);
        else
          $("#skill").val($("#skill").val().replace(x, ""));
      });

       $("#4").click(function(){
        var x=$("#4").val();
        if ($("#4").is(":checked"))
          $("#skill").val($("#skill").val() + x);
        else
          $("#skill").val($("#skill").val().replace(x, ""));
      });

       $("#5").click(function(){
        var x=$("#5").val();
        if ($("#5").is(":checked"))
          $("#skill").val($("#skill").val() + x);
        else
          $("#skill").val($("#skill").val().replace(x, ""));
      });

       $("#6").click(function(){
        var x=$("#6").val();
        if ($("#6").is(":checked"))
          $("#skill").val($("#skill").val() + x);
        else
          $("#skill").val($("#skill").val().replace(x, ""));
      });

       $("#7").click(function(){
        var x=$("#7").val();
        if ($("#7").is(":checked"))
          $("#skill").val($("#skill").val() + x);
        else
          $("#skill").val($("#skill").val().replace(x, ""));
      });

       $("#8").click(function(){
        var x=$("#8").val();
        if ($("#8").is(":checked"))
          $("#skill").val($("#skill").val() + x);
        else
          $("#skill").val($("#skill").val().replace(x, ""));
      });

    });
    </script>

</body>