<head>
    <%= stylesheet_link_tag 'edit_user.css' %>
</head>

<body>

<!--==========Navbar==========-->
    <nav>
      <!--=====Logo=====-->
      <div class="logo">
        <a href="/">
          <%= image_tag('Workly_Logo.png', class:"logo", height: "120px") %>
        </a>
      </div>
      <!--=====Schede=====-->
      <ul id="navbar">
        <li><%= link_to "Home", home_pages_path%></li>
        <li><%= link_to "Workers", workers_path%></li>
        <li><%= link_to "Gigs", gigs_path%></li>
        <li><%= link_to "Lavori", lavoros_path%></li>
        <li>
            <% if !user_signed_in? %>
              <div class="loginbox">
              <%= link_to 'Login', new_user_session_path, :method => :get, class: "btn btn-outline-light btn-lg"%>
              </div>
            <% end %>

            <% if user_signed_in? %>
                <div class="loginbox">
                    <a href="/user_pages/<%= current_user.id %>" class="btn btn-outline-light btn-lg" >User Page</a>
                </div>
            <% end %>

        </li>
      </ul>
    </nav>
    <!--==========Fine Navbar==========-->

    <br>

    <div class="center">
        <br>
        <h1>Modifica Utente</h1>
        <div id="form">

            <%= form_with url: "/user_pages/"+ @user.id, method: :patch do |f| %>
                <div class="img_field">
                    <label>Link per l'immagine</label>
                    <br>
                    <%= f.text_field :img, :value => @user.img%>
                    <br>
                    <br>
                    <% if @user.img == ""%>
                        <% @user.img = "avatar-user.png" %>
                    <% end %>
                    <%= image_tag(@user.img, width: "175px", height: "175px", class: "rounded-circle") %>
                </div>

                <div class="row">

                    <div class="col">
                        <div class="txt_field">
                            <%= f.label :Nome %>
                            <br>
                            <%= f.text_field :name, :value => @user.name, :required => true %>
                        </div>
                    </div>

                    <div class="col">
                        <div class="txt_field">
                            <%= f.label :Address %>
                            <br>
                            <%= f.text_field :address, :value => @user.address, :required => true %>
                        </div>
                    </div>
                    
                </div>

                <div class="field">
                    <%= f.label :Skill %>
                    <br>
                    <%= f.text_area :skill, :value => @user.skill, :required => true %>
                </div>

                <div class="select_field">
                    <%= f.label :Categoria %>
                    <br>
                    <%= f.select :category, [['Avvocato', 'Avvocato'], ['Ingegnere', 'Ingegnere'], ['Architetto', 'Architetto']], { :include_blank => '-- Select One --' }, :selected => @user.category, :required => true %>
                </div>
                <br>
                <div>
                <%= f.submit "Submit", class: 'btn btn-primary' %>
                </div>
                <br>

            <% end %>
        </div>
    </div>
</body>