<h1>Edit User</h1>

<%= form_with url: "/user_pages/"+ @user.id, method: :patch do |f| %>
    <div>
        <%= f.label :Immage %>
        <br>
        <%= f.text_field :img, :value => @user.img%>
        <br>
        <% if @user.img == ""%>
            <% @user.img = "https://www.seekpng.com/png/detail/73-730482_existing-user-default-avatar.png" %>
        <% end %>
        <%= image_tag(@user.img, width: "200px") %>
    </div>

    <div>
        <%= f.label :Username %>
        <br>
        <%= f.text_field :name, :value => @user.name, :required => true %>
    </div>

    <div>
        <%= f.label :Address %>
        <br>
        <%= f.text_field :address, :value => @user.address, :required => true %>
    </div>

    <div>
        <%= f.label :Skill %>
        <br>
        <%= f.text_area :skill, :value => @user.skill, :required => true %>
    </div>

    <div>
        <%= f.label :Category %>
        <br>
        <%= f.select :category, [['Avvocato', 'Avvocato'], ['Ingegnere', 'Ingegnere'], ['Architetto', 'Architetto']], { :include_blank => '-- Select One --' }, :value => @user.category, :required => true %>
    </div>
    <br>
    <div>
    <%= f.submit "Submit", class: 'btn btn-primary' %>
    </div>

<% end %>