<h1>User Page</h1>

<br>
<% if user_signed_in? %>
    Logged in as <%= current_user.email%> [<%= link_to 'Logout', destroy_user_session_path, :method => :delete%>]
<% end %>
<br>
<%= link_to "Change your password", edit_user_registration_path %>
<br>
<%= link_to "Delete your account",  user_page_path, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
<br>
<%= button_to "Edit", edit_user_page_path, :method => :get %>
<br>
<%= @user.email %>
<br>
<%= @user.name %>
<br>
<%= @user.address %>
<br>
<%= @user.skill %>
<br>
<%= @user.category %>