<head>
  <%= stylesheet_link_tag 'login.css' %>
</head>

<body>

<!--==========Navbar==========-->
    <nav>
      <!--=====Logo=====-->
      <div class="logo">
        <a href="/">
          <%= image_tag('Workly_Logo.png', class:"logo", height: "120px") %>
        </a>
      </div>
      <!--=====Schede=====-->
<script>
      const Http = new XMLHttpRequest();
      const url='http://127.0.0.1:3000/cmc';
      Http.open("GET", url);
      Http.send();

      Http.onreadystatechange = (e) => {
        let res = JSON.parse(Http.responseText)
        let pricesRecords = res.data;
        let mainCrypto = ['BTC', 'ETH', 'BNB', 'DOGE'];
        let html = '<ul>';
        for( let record of pricesRecords ){
          if( !mainCrypto.includes(record.symbol) ) continue;
          else html += '<li>' + `${ record.symbol }: ${record.quote.USD.price.toFixed(3)}$` + '</li>';
        }
        html += '</ul>'
        console.log( html )
        let container = document.getElementById("crypto-prices");
        container.innerHTML = html;
      }
    </script>
    <div id="crypto-prices"></div>
     
      <ul id="navbar">
        <li><%= link_to "Home", home_pages_path%></li>
        <li><%= link_to "Workers", workers_path%></li>
        <li><%= link_to "Gigs", gigs_path%></li>
        <li><%= link_to "Lavori", lavoros_path%></li>
        <li>
            <% if !user_signed_in? %>
              <div class="loginbox">
              <%= link_to 'Login', new_user_session_path, :method => :get, class: "btn btn-outline-light btn-lg"%>
              </div>
            <% end %>

            <% if user_signed_in? %>
                <div class="loginbox">
                    <a href="/user_pages/<%= current_user.id %>" class="btn btn-outline-light btn-lg" >User Page</a>
                </div>
            <% end %>

        </li>
      </ul>
    </nav>
    <!--==========Fine Navbar==========-->

    <br>

  

  <div class="center">
    <br>
    <h1>Login</h1>
    <div id="form">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="txt_field">
          <%= f.email_field :email, placeholder: "Email", autofocus: true, autocomplete: "email", required: true%>
        </div>

        <div class="txt_field">
          <%= f.password_field :password, placeholder: "Password", autocomplete: "current-password", required: true%>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>

        <div class="actions">
          <%= f.submit "Log in" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</body>