<h1>Worker Page</h1>

<% if @user.img == ""%>
    <% @user.img = "https://www.seekpng.com/png/detail/73-730482_existing-user-default-avatar.png" %>
<% end %>
<%= image_tag(@user.img, width: "200px") %>
<br>
<%= @user.name %>
<br>
<%= @user.email %>
<br>
<%= @user.address %>
<br>
<%= @user.skill %>
<br>
<%= @user.category %>
<br>
<hr>

<h3>Gigs </h3>
<br>

<% @gigs.each do |gig| %>
    <%= gig.title %>
    <br>
    <%= gig.categories %>
    <br>
    <%= gig.skill %>
    <br>
    <%= gig.currency %>
    <br>
    <%= gig.cost %>
    <hr>
<% end %>

<br>

<%= link_to "Back", workers_path %>
&nbsp;&nbsp;&nbsp;
<% if current_user && ((current_user.admin == true)) %>
    <%= link_to "Destroy", worker_path, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
<% end %>