 <%= stylesheet_link_tag 'style.css' %>
<%= form_with model: @lavoro do |form| %>
  <% if lavoro.errors.any?%>
    <div id="spiegazione_errore">
      <h2><%= pluralize(lavoro.errors.count, "errore")%></h2>
        <ul>
          <%lavoro.errors.each do |error|%>
          <li><%= error.full_message%></li>
          <% end %>
        </ul>
    </div>
  <%end%>

  <div class="field">
    <label>Titolo</label>
    <br>
    <%= form.text_field :title %>
    <% lavoro.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div class="field">
    <label>Descrizione</label>
    <br>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :n_Lavoratori %><br>
    <%= form.number_field :n_Lavoratori,min:1 ,max: 30, step: 'any' %>
  </div>

  <div class="field">
    <label>Categoria</label>
    <br>
    <%= form.select :categories,[['Sviluppo di siti web','Sviluppo di siti web'],
                                 ['Sviluppo di applicazioni','Sviluppo di applicazioni'],
                                 ['Assistenza e Sicurezza Informatica','Assistenza e Sicurezza Informatica'],
                                 ['Varie','Varie']], {:include_blank => "--Selezionane una--"} %><br>
  </div>
  <br>
  
  <div class="field">
   <label>Skill Lavoratori</label>
   <br>
    <%= form.label(:skill_Lavoratori, "WordPress-Developer") %>
    <%= form.check_box :skill_Lavoratori,{:multiple => true},"WordPress-Developer"%>
    <%= form.label(:skill_Lavoratori, "Shopify-Developer") %>
    <%= form.check_box :skill_Lavoratori,{:multiple => true},"Shopify-Developer"%>
    <%= form.label(:skill_Lavoratori, "Wlx-Developer")%>
    <%= form.check_box :skill_Lavoratori,{:multiple => true},"Wlx-Developer"%>
    <%= form.label(:skill_Lavoratori, "Android-Developer") %>
    <%= form.check_box :skill_Lavoratori,{:multiple => true},"Android-Developer"%>
    <%= form.label(:skill_Lavoratori, "IOS-Developer") %>
    <%= form.check_box :skill_Lavoratori,{:multiple => true},"IOS-Developer"%>
    <%= form.label(:skill_Lavoratori, "JavaScript-Developer") %>
    <%= form.check_box :skill_Lavoratori, {:multiple => true},"JavaScript-Developer"%>
    <%= form.label(:skill_Lavoratori, "HTML-CSS-Developer") %>
    <%= form.check_box :skill_Lavoratori,{:multiple => true},"HTML-CSS-Developer"%>
  </div>
  <br>


  <div class="field">
    <%= form.label :timer %><br>
    <%= form.number_field :timer,min:1,step: 'any' %>
  </div>

  <div>
    <label>Moneta</label>
    <br>
    <%= form.select :currency, [['BTC', 'BTC'], ['DOGE', 'DOGE'], ['ETH', 'ETH']] %><br>
  </div>

  <br>
  <div class="actions">
    <%= form.submit %><br>
  </div>
<%end%>