 <%= stylesheet_link_tag 'style_lavori.css' %>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> 

  <!--==========Navbar==========-->
    <nav>
      <!--=====Logo=====-->
      <div class="logo">
        <a href="/">
          <%= image_tag('Workly_Logo.png', class:"logo", height: "120px") %>
        </a>
      </div>
      <!--=====Schede=====-->
      <ul id="navbar">
        <li><%= link_to "Home", home_pages_path%></li>
        <li><%= link_to "Workers", workers_path%></li>
        <li><%= link_to "Gigs", gigs_path%></li>
        <li><%= link_to "Lavori", lavoros_path, class: "active"%></li>
        <li>
            <% if !user_signed_in? %>
              <div class="loginbox">
                <%= link_to 'Login', new_user_session_path, :method => :get, class: "btn btn-outline-light btn-lg"%>
              </div>
            <% end %>

            <% if user_signed_in? %>
              <div class="loginbox">
                <a href="/user_pages/<%= current_user.id %>" class="btn btn-outline-light btn-lg" >User Page</a>
              </div>
            <% end %>

        </li>
      </ul>
    </nav>
    <!--==========Fine Navbar==========-->

    <br>
    <br>
    <br>


<div id ="lavoro">
  <div>
   <%= form_tag lavoros_path, method: 'get' do %>
    <%= text_field_tag :search, params[:search], placeholder:'Cerca...' %>
    <%= button_tag "Cerca", data: { disable_with: "Searching..." }%>
   <% end %>
   <%= form_tag lavoros_path, method: 'get' do %>
    <%= select_tag :categories,options_for_select(["","Sviluppo di siti web","Sviluppo di applicazioni","Assistenza e Sicurezza Informatica","Varie"]) %>
    <%= submit_tag 'Filtro per categorie' %>
   <% end %>
   <br>
   <div class="search-skill_Lavoratori">
    <%= form_with(url: lavoros_path, method: "get") do |f| %>
      <input type="checkbox" value= "WordPress-Developer;" id="1">
      <label for="1">WordPress-Developer</label>
      <input type="checkbox" value= "Shopify-Developer;" id="2">
      <label for="2">Shopify-Developer</label>
      <input type="checkbox" value= "Wlx-Developer;" id="3">
      <label for="3">Wlx-Developer</label>
      <input type="checkbox" value= "Android-Developer;" id="4">
      <label for="4">Android-Developer</label>
      <input type="checkbox" value= "IOS-Developer;" id="5">
      <label for="5">IOS-Developer</label>
      <input type="checkbox" value= "Python-Developer;" id="6">
      <label for="6">Python-Developer</label>
      <input type="checkbox" value= "JavaScript-Developer;" id="7">
      <label for="7">JavaScript-Developer</label>
      <input type="checkbox" value= "HTML-CSS-Developer;" id="8">
      <label for="8">HTML-CSS-Developer</label>
      <%= f.hidden_field :skill_Lavoratori, id: "skill_Lavoratori"%>
      <%= submit_tag 'Filtro per Skill' %>
    <%end%>
  </div>
  <br> 
  <p>Titolo</p>
  
  <% @lavoros.each do |lavoro| %>
    <%=link_to lavoro.title, lavoro%>
  <%end%>
  <br>
  <br>
  <% if user_signed_in? %>
    <%= link_to 'Crea Lavoro', new_lavoro_path%>
  <% end %>

  <% if !user_signed_in? %>
   <%= link_to "Crea Lavoro", new_user_session_path %>
  <% end %>
  <script>
    $(document).ready(function(){
      $("#1").click(function(){
        var x=$("#1").val();
        if ($("#1").is(":checked"))
          $("#skill_Lavoratori").val($("#skill_Lavoratori").val() + x);
        else
          $("#skill_Lavoratori").val($("#skill_Lavoratori").val().replace(x, ""));
      });
       $("#2").click(function(){
        var x=$("#2").val();
        if ($("#2").is(":checked"))
          $("#skill_Lavoratori").val($("#skill_Lavoratori").val() + x);
        else
          $("#skill_Lavoratori").val($("#skill_Lavoratori").val().replace(x, ""));
      });
       $("#3").click(function(){
        var x=$("#3").val();
        if ($("#3").is(":checked"))
          $("#skill_Lavoratori").val($("#skill_Lavoratori").val() + x);
        else
          $("#skill_Lavoratori").val($("#skill_Lavoratori").val().replace(x, ""));
      });
       $("#4").click(function(){
        var x=$("#4").val();
        if ($("#4").is(":checked"))
          $("#skill_Lavoratori").val($("#skill_Lavoratori").val() + x);
        else
          $("#skill_Lavoratori").val($("#skill_Lavoratori").val().replace(x, ""));
      });
       $("#5").click(function(){
        var x=$("#5").val();
        if ($("#5").is(":checked"))
          $("#skill_Lavoratori").val($("#skill_Lavoratori").val() + x);
        else
          $("#skill_Lavoratori").val($("#skill_Lavoratori").val().replace(x, ""));
      });
       $("#6").click(function(){
        var x=$("#6").val();
        if ($("#6").is(":checked"))
          $("#skill_Lavoratori").val($("#skill_Lavoratori").val() + x);
        else
          $("#skill_Lavoratori").val($("#skill_Lavoratori").val().replace(x, ""));
      });
       $("#7").click(function(){
        var x=$("#7").val();
        if ($("#7").is(":checked"))
          $("#skill_Lavoratori").val($("#skill_Lavoratori").val() + x);
        else
          $("#skill_Lavoratori").val($("#skill_Lavoratori").val().replace(x, ""));
      });
       $("#8").click(function(){
        var x=$("#8").val();
        if ($("#8").is(":checked"))
          $("#skill_Lavoratori").val($("#skill_Lavoratori").val() + x);
        else
          $("#skill_Lavoratori").val($("#skill_Lavoratori").val().replace(x, ""));
      });
    });
  </script>
  
</div>

<br>
<br>
<br>
<br>
