 <%= stylesheet_link_tag 'style.css' %>
<h1>Lavori</h1>
<div id ="lavoro">
  <div>
   <%= form_tag lavoros_path, method: 'get' do %>
    <%= text_field_tag :search, params[:search], placeholder:'Cerca...' %>
    <%= button_tag "Cerca", data: { disable_with: "Searching..." }%>
   <% end %>
   <%= form_tag lavoros_path, method: 'get' do %>
    <%= select_tag :categories,options_for_select(["","Sviluppo di siti web","Sviluppo di applicazioni","Assistenza e Sicurezza Informatica","Varie"]) %>
    <%= submit_tag 'Filtro per categorie' %>
   <% end %>
   <%= form_tag lavoros_path, method: 'get' do %>
    <%= select_tag :skill_Lavoratori,options_for_select(["","WordPress-Developer","Shopify-Developer","Wlx-Developer","Android-Developer","IOS-Developer","Python-Developer","JavaScript-Developer","HTML-CSS-Developer"]) %>
    <%= submit_tag 'Filtro per skills' %>
   <% end %>
  </div>

  <p>Titolo</p>
  
  <% @lavoros.each do |lavoro| %>
    <%=link_to lavoro.title, lavoro%>
  <%end%>
  <br>
  <br>
  <% if user_signed_in? %>
    <%= link_to 'Crea Lavoro', new_lavoro_path%>
  <% end %>

  <% if !user_signed_in? %>
   <%= link_to "Crea Lavoro", new_user_session_path %>
  <% end %>
  
</div>
