   <%= stylesheet_link_tag 'style_lavori.css' %>
  
  <!--==========Navbar==========-->
    <nav>
      <!--=====Logo=====-->
      <div class="logo">
        <a href="/">
          <%= image_tag('Workly_Logo.png', class:"logo", height: "120px") %>
        </a>
      </div>
      <!--=====Schede=====-->
      <ul id="navbar">
        <li><%= link_to "Home", home_pages_path%></li>
        <li><%= link_to "Workers", workers_path%></li>
        <li><%= link_to "Gigs", gigs_path%></li>
        <li><%= link_to "Lavori", lavoros_path, class: "active"%></li>
        <li>
            <% if !user_signed_in? %>
              <div class="loginbox">
                <%= link_to 'Login', new_user_session_path, :method => :get, class: "btn btn-outline-light btn-lg"%>
              </div>
            <% end %>

            <% if user_signed_in? %>
              <div class="loginbox">
                <a href="/user_pages/<%= current_user.id %>" class="btn btn-outline-light btn-lg" >User Page</a>
              </div>
            <% end %>

        </li>
      </ul>
    </nav>
    <!--==========Fine Navbar==========-->

    <br>
    <br>



<p>
  <strong>Titolo:</strong>
  <%= @lavoro.title%>
</p>

<p>
  <strong>Descrizione:</strong>
  <%= @lavoro.description%>
</p>

<p>
  <strong>N_Lavoratori:</strong>
  <%= @lavoro.n_Lavoratori%>
</p>

<p>
  <strong>Categoria:</strong>
  <%= @lavoro.categories%>
</p>

<p>
  <strong>skill_Lavoratori</strong>
  <%= @lavoro.skill_Lavoratori%>
</p>

<script>
  document.addEventListener("DOMContentLoaded", function(event) {
      document.getElementById("button")?.addEventListener("click", () => {window.location.search = '?candidate=true';})
  });
</script>
<br>
<br>
<% if( user_signed_in? &&  !@lavoro.candidates.to_s.include?(current_user.email) )  %>
    <a id="button" href="?" > candidati </a>
<% end %>

<br/>
<br/>

&nbsp;&nbsp;&nbsp;
<%= link_to "Indietro", :back %>
&nbsp;&nbsp;&nbsp;
<% if current_user && ( (@lavoro.email == current_user.email) || current_user.admin == true) %>
    <%= link_to "Modifica", edit_lavoro_path%>
    &nbsp;&nbsp;&nbsp;
    <%= link_to "Elimina", lavoro_path, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %> 
<% end %>

<br>
