<%= form_with model: @gig do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% gig.errors.full_messages_for(:title).each do |message| %>
      #<div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :categories %><br>
    <%= form.text_field :categories %><br>
    <% gig.errors.full_messages_for(:categories).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :skill %><br>
    <%= form.text_field :skill %>
    <% gig.errors.full_messages_for(:skill).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :currency %><br>
    <%= form.select :currency, [['BTC', 'BTC'], ['DOGE', 'DOGE'], ['ETH', 'ETH']] %><br>
  </div>
&nbsp;&nbsp;
  <div>
    <%= form.submit %><br>
  </div>
<% end %>
