 <%= stylesheet_link_tag 'show_gigs.css' %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<%= form_with model: @gig do |form| %>
  <% if gig.errors.any?%>
    <div id="spiegazione_errore">
      <h2><%= pluralize(gig.errors.count, "errore")%></h2>
        <ul>
          <%gig.errors.each do |error|%>
          <li><%= error.full_message%></li>
          <% end %>
        </ul>
    </div>
  <%end%>

  <div class="field">
    <label>Titolo</label>
    <br>
    <%= form.text_field :title, :required => true %>
    <% gig.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div class="field">
    <label>Descrizione</label>
    <br>
    <%= form.text_area :description, :required => true %>
  </div>

  <br>
  <div class="field">
    <label>Categoria</label>
    <br>
    <%= form.select :categories,[['Sviluppo di siti web','Sviluppo di siti web'],
                                 ['Sviluppo di applicazioni','Sviluppo di applicazioni'],
                                 ['Assistenza e Sicurezza Informatica','Assistenza e Sicurezza Informatica'],
                                 ['Varie','Varie']], {:include_blank => "Seleziona Categoria"}, :required => true %><br>
  </div>

  <br>
  <div class="field">
    <%= form.label :skill %><br/>
    <br>
    <div class="row">
      <div class="col-md-4">
        <input type="checkbox" value= "WordPress-Developing; " id="1">
        <label for="1">WordPress-Developing</label>
      </div>
      <div class="col-md-4">         
        <input type="checkbox" value= "Shopify-Developing; " id="2">
        <label for="2">Shopify-Developing</label>
      </div>  
      <div class="col-md-4">
        <input type="checkbox" value= "Wlx-Developing; " id="3">
        <label for="3">Wlx-Developing</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <input type="checkbox" value= "Android-Developing; " id="4">
        <label for="4">Android-Developing</label>
      </div>
      <div class="col-md-4">
        <input type="checkbox" value= "IOS-Developing; " id="5">
        <label for="5">IOS-Developing</label>
      </div>
      <div class="col-md-4">
        <input type="checkbox" value= "Python-Developing; " id="6">
        <label for="6">Python-Developing</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <input type="checkbox" value= "JavaScript-Developing; " id="7">
        <label for="7">JavaScript-Developing</label>
      </div>
      <div class="col-md-4">
        <input type="checkbox" value= "HTML-CSS-Developing; " id="8">
        <label for="8">HTML-CSS-Developing</label>
      </div>
    </div>         
    <%= form.text_field :skill, :value => @gig.skill, id: "skill", :required => true%>

  </div>
  <br>


  <div class="field">
    <%= form.label :cost %><br>
    <%= form.number_field :cost, min:0,step: 0.00005, :required => true %>
  </div>

  <div>
    <label>Moneta</label>
    <br>
    <%= form.select :currency, [['BTC', 'BTC'], ['BNB', 'BNB'], ['DOGE', 'DOGE'], ['ETH', 'ETH']] %><br>
  </div>

  <br>
  <div class="actions">
    <%= form.submit %><br>
  </div>

  <script>
      $(document).ready(function(){
       
       var skill=$("#skill").val().split("; ");
       var l= skill.length;
       var i;
       for (i=0; i<l; i++){
        if(skill[i]=="WordPress-Developing") $("#1").prop('checked', true);
        else if(skill[i]=="Shopify-Developing") $("#2").prop('checked', true);
        else if(skill[i]=="Wlx-Developing") $("#3").prop('checked', true);
        else if(skill[i]=="Android-Developing") $("#4").prop('checked', true);
        else if(skill[i]=="IOS-Developing") $("#5").prop('checked', true);
        else if(skill[i]=="Python-Developing") $("#6").prop('checked', true);
        else if(skill[i]=="JavaScript-Developing") $("#7").prop('checked', true);
        else if(skill[i]=="HTML-CSS-Developing") $("#8").prop('checked', true);
       }

      $("#1").click(function(){
        var x=$("#1").val();
        if ($("#1").is(":checked"))
          $("#skill").val($("#skill").val() + x);
        else
          $("#skill").val($("#skill").val().replace(x, ""));
      });

       $("#2").click(function(){
        var x=$("#2").val();
        if ($("#2").is(":checked"))
          $("#skill").val($("#skill").val() + x);
        else
          $("#skill").val($("#skill").val().replace(x, ""));
      });

       $("#3").click(function(){
        var x=$("#3").val();
        if ($("#3").is(":checked"))
          $("#skill").val($("#skill").val() + x);
        else
          $("#skill").val($("#skill").val().replace(x, ""));
      });

       $("#4").click(function(){
        var x=$("#4").val();
        if ($("#4").is(":checked"))
          $("#skill").val($("#skill").val() + x);
        else
          $("#skill").val($("#skill").val().replace(x, ""));
      });

       $("#5").click(function(){
        var x=$("#5").val();
        if ($("#5").is(":checked"))
          $("#skill").val($("#skill").val() + x);
        else
          $("#skill").val($("#skill").val().replace(x, ""));
      });

       $("#6").click(function(){
        var x=$("#6").val();
        if ($("#6").is(":checked"))
          $("#skill").val($("#skill").val() + x);
        else
          $("#skill").val($("#skill").val().replace(x, ""));
      });

       $("#7").click(function(){
        var x=$("#7").val();
        if ($("#7").is(":checked"))
          $("#skill").val($("#skill").val() + x);
        else
          $("#skill").val($("#skill").val().replace(x, ""));
      });

       $("#8").click(function(){
        var x=$("#8").val();
        if ($("#8").is(":checked"))
          $("#skill").val($("#skill").val() + x);
        else
          $("#skill").val($("#skill").val().replace(x, ""));
      });

      });
  </script>
  
<%end%>