
 <%= stylesheet_link_tag 'style.css' %>
<%= form_with model: @gig do |form| %>
  
  <div>
    <label>Titolo</label>
    <br>
    <%= form.text_field :title, required: true %>
    <% gig.errors.full_messages_for(:title).each do |message| %>
      #<div><%= message %></div>
    <% end %>
  </div>

  <div>
    <label>Descrizione</label>
    <br>
    <%= form.text_area :description %>
    <% gig.errors.full_messages_for(:description).each do |message| %>
      #<div><%= message %></div>
    <% end %>
  </div>

  <div>
    <label>Moneta</label>
    <br>
    <%= form.select :currency, [['BTC', 'BTC'], ['DOGE', 'DOGE'], ['ETH', 'ETH']] %><br>
  </div>

  <div>
    <label>Prezzo</label>
    <br>
    <%= form.number_field :cost, required: true, step: 'any' %><br>
    <% gig.errors.full_messages_for(:cost).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :skill %>
    <br>
    <%= form.text_field :skill, required: true %>
    <% gig.errors.full_messages_for(:skill).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <label>Categoria</label>
    <br>
    <%= form.select :categories, [['Design e Visual Art', 'Design e Visual Art'], ['Programmazione', 'Programmazione'], ['Economia', 'Economia'], ['Musica e Videomaking', 'Musica e Videomaking']] %><br>
    <% gig.errors.full_messages_for(:categories).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>


  <div>
    <%= form.submit %><br>
  </div>
<% end %>
