 <%= stylesheet_link_tag 'style.css' %>


  <!--==========Navbar==========-->
    <nav>
      <!--=====Logo=====-->
      <div class="logo">
        <a href="/">
          <%= image_tag('Workly_Logo.png', class:"logo", height: "120px") %>
        </a>
      </div>
      <!--=====Schede=====-->
      <ul id="navbar">
        <li><%= link_to "Home", home_pages_path%></li>
        <li><%= link_to "Workers", workers_path%></li>
        <li><%= link_to "Gigs", gigs_path, class: "active"%></li>
        <li><%= link_to "Lavori", lavoros_path%></li>
        <li>
            <% if !user_signed_in? %>
              <div class="loginbox">
                <%= link_to 'Login', new_user_session_path, :method => :get, class: "btn btn-outline-light btn-lg"%>
              </div>
            <% end %>

            <% if user_signed_in? %>
              <div class="loginbox">
                <a href="/user_pages/<%= current_user.id %>" class="btn btn-outline-light btn-lg" >User Page</a>
              </div>
            <% end %>

        </li>
      </ul>
    </nav>
    <!--==========Fine Navbar==========-->

    <br>
    <br>
    <br>

  <% @gigs.each do |gig| %>
    <%= link_to gig.title, gig %>
  <% end %>

  <br>
  <br>

  <%= form_tag gigs_path, method: 'get' do %>
    <%= select_tag :categories, options_for_select(["Design e Visual Art", "Programmazione", "Economia", "Musica e Videomaking" ], "Design e Visual Art") %>
    <%= button_tag (fa_icon "filter", text: "Filtra"), class: "button" %>
  <% end %>

  <br>
  <%= form_tag gigs_path, method: 'get' do %>
    <%= text_field_tag :search, params[:search], placeholder:'Cerca...', autocomplete: 'off' %>
    <%= button_tag (fa_icon "magnifying-glass", text: "Cerca "), class: "button" %>
  <% end %>

  <br>
  <%= form_tag gigs_path, method: 'get' do %>
    <%= text_field_tag :search, params[:skill], placeholder:'Cerca una skill...', autocomplete: 'off' %>
    <%= button_tag (fa_icon "magnifying-glass", text: "Cerca "), class: "button" %>
  <% end %>

  <br>
  <% if user_signed_in? %>
    <%= link_to new_gig_path do %>
      <i class="fa-solid fa-plus"> </i> Crea Gig
    <% end %>
  <% end %>

  <% if !user_signed_in? %>
    <%= link_to new_user_session_path do %>
      <i class="fa-solid fa-plus"> </i> Crea Gig
    <% end %>
  <% end %>

  <br>
  <br>
  <br>
  <br>
  <br>






