<head>
  <%= stylesheet_link_tag 'gigs.css' %>
</head>

<body>
  <!--==========Navbar==========-->
    <nav>
      <!--=====Logo=====-->
      <div class="logo">
        <a href="/">
          <%= image_tag('Workly_Logo.png', class:"logo", height: "120px") %>
        </a>
      </div>
      <!--=====Schede=====-->
<script>
      const Http = new XMLHttpRequest();
      const url='http://127.0.0.1:3000/cmc';
      Http.open("GET", url);
      Http.send();

      Http.onreadystatechange = (e) => {
        let res = JSON.parse(Http.responseText)
        let pricesRecords = res.data;
        let mainCrypto = ['BTC', 'ETH', 'BNB', 'DOGE'];
        let html = '<ul>';
        for( let record of pricesRecords ){
          if( !mainCrypto.includes(record.symbol) ) continue;
          else html += '<li>' + `${ record.symbol }: ${record.quote.USD.price.toFixed(3)}$` + '</li>';
        }
        html += '</ul>'
        console.log( html )
        let container = document.getElementById("crypto-prices");
        container.innerHTML = html;
      }
    </script>
    <div id="crypto-prices"></div>
      <ul id="navbar">
        <li><%= link_to "Home", home_pages_path%></li>
        <li><%= link_to "Workers", workers_path%></li>
        <li><%= link_to "Gigs", gigs_path, class: "active" %></li>
        <li><%= link_to "Lavori", lavoros_path%></li>
        <li>
            <% if !user_signed_in? %>
              <div class="loginbox">
                <%= link_to 'Login', new_user_session_path, :method => :get, class: "btn btn-outline-light btn-lg"%>
              </div>
            <% end %>

            <% if user_signed_in? %>
              <div class="loginbox">
                <a href="/user_pages/<%= current_user.id %>" class="btn btn-outline-light btn-lg" >User Page</a>
              </div>
            <% end %>

        </li>
      </ul>
    </nav>
    <!--==========Fine Navbar==========-->

  <br>


   <%= form_tag gigs_path, method: 'get' do %>
     &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <%= text_field_tag :search, params[:search], placeholder:'Cerca...', autocomplete: 'off' %>
     <%= button_tag (fa_icon "magnifying-glass", text: "Cerca "), class: "button" %>
     &nbsp; &nbsp; &nbsp; <%= select_tag :categories, options_for_select(['Sviluppo di siti web', 'Sviluppo di applicazioni',
                                                                         'Assistenza e Sicurezza Informatica', 'Varie']),:prompt => "Seleziona una categoria..." %>
      <%= button_tag (fa_icon "filter", text: "Filtra"), class: "button" %>
      &nbsp; &nbsp; &nbsp;
     <% if user_signed_in? %>
      <%= link_to new_gig_path do %>
        <i class="fa-solid fa-plus"> </i> Crea Gig
      <% end %>
    <% end %> <br>

<%= form_with(url: gigs_path, method: "get") do |f| %>
        <br>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        <input type="checkbox" value= "WordPress-Developing; " id="1">
        <label for="1">WordPress Developing</label>
        &nbsp; &nbsp;
        <input type="checkbox" value= "Shopify-Developing; " id="2">
        <label for="2">Shopify Developing</label>
        &nbsp; &nbsp;
        <input type="checkbox" value= "Wlx-Developing; " id="3">
        <label for="3">Wlx Developing</label>
        &nbsp; &nbsp;
        <input type="checkbox" value= "Android-Developing; " id="4">
        <label for="4">Android Developing</label>
        &nbsp; &nbsp;
        <input type="checkbox" value= "IOS-Developing; " id="5">
        <label for="5">IOS Developing</label>
        &nbsp; &nbsp;
        <input type="checkbox" value= "Python-Developing; " id="6">
        <label for="6">Python Developing</label>
        &nbsp; &nbsp; <br>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        <input type="checkbox" value= "JavaScript-Developing; " id="7">
        <label for="7">JavaScript Developing</label>
        &nbsp; &nbsp; &nbsp;
        <input type="checkbox" value= "HTML-CSS-Developing; " id="8">
        <label for="8">HTML-CSS Developing</label>
        &nbsp; &nbsp; &nbsp;

        <%= f.hidden_field :skill, id: "skill"%>
        <br>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        <%= submit_tag 'Filtra per Skill' %>

      <% end %>
   <% end %>

     





  <br>
  <hr>
  <div id="griglia-gigs">

      <% @gigs.each do |gig|%>
        <div>
          <% if gig.categories == 'Sviluppo di siti web'%>
              <% image = "web.jpg" %>
          <% end %>
          <% if gig.categories == 'Sviluppo di applicazioni'%>
              <% image = "Applicazioni.png" %>
          <% end %>
          <% if gig.categories == 'Assistenza e Sicurezza Informatica'%>
              <% image = "sicurezza.jpg" %>
          <% end %>
          <% if gig.categories == 'Varie'%>
              <% image = "Progr.jpg" %>
          <% end %>
          <% if image %>
          <br>
          <%= image_tag(image, width: "175px", height: "100px") %>
          <br>
          <% end %>
          <%= gig.title%>
          <br>
          <a class="btn btn-primary" href="/gigs/<%= gig.id%>">Dettagli</a>
          <br> <br> <br>
        </div>
      <% end %>

  <script>
    $(document).ready(function(){
      $("#1").click(function(){
        var x=$("#1").val();
        if ($("#1").is(":checked"))
          $("#skill").val($("#skill").val() + x);
        else
          $("#skill").val($("#skill").val().replace(x, ""));
      });
       $("#2").click(function(){
        var x=$("#2").val();
        if ($("#2").is(":checked"))
          $("#skill").val($("#skill").val() + x);
        else
          $("#skill").val($("#skill").val().replace(x, ""));
      });
       $("#3").click(function(){
        var x=$("#3").val();
        if ($("#3").is(":checked"))
          $("#skill").val($("#skill").val() + x);
        else
          $("#skill").val($("#skill").val().replace(x, ""));
      });
       $("#4").click(function(){
        var x=$("#4").val();
        if ($("#4").is(":checked"))
          $("#skill").val($("#skill").val() + x);
        else
          $("#skill").val($("#skill").val().replace(x, ""));
      });
       $("#5").click(function(){
        var x=$("#5").val();
        if ($("#5").is(":checked"))
          $("#skill").val($("#skill").val() + x);
        else
          $("#skill").val($("#skill").val().replace(x, ""));
      });
       $("#6").click(function(){
        var x=$("#6").val();
        if ($("#6").is(":checked"))
          $("#skill").val($("#skill").val() + x);
        else
          $("#skill").val($("#skill").val().replace(x, ""));
      });
       $("#7").click(function(){
        var x=$("#7").val();
        if ($("#7").is(":checked"))
          $("#skill").val($("#skill").val() + x);
        else
          $("#skill").val($("#skill").val().replace(x, ""));
      });
       $("#8").click(function(){
        var x=$("#8").val();
        if ($("#8").is(":checked"))
          $("#skill").val($("#skill").val() + x);
        else
          $("#skill").val($("#skill").val().replace(x, ""));
      });
    });
  </script>

  </div>

</body>