<head>
  <%= stylesheet_link_tag 'gigs.css' %>
</head>

<body>
  <!--==========Navbar==========-->
    <nav>
      <!--=====Logo=====-->
      <div class="logo">
        <a href="/">
          <%= image_tag('Workly_Logo.png', class:"logo", height: "120px") %>
        </a>
      </div>
      <!--=====Schede=====-->
<script>
      const Http = new XMLHttpRequest();
      const url='http://127.0.0.1:3000/cmc';
      Http.open("GET", url);
      Http.send();

      Http.onreadystatechange = (e) => {
        let res = JSON.parse(Http.responseText)
        let pricesRecords = res.data;
        let mainCrypto = ['BTC', 'ETH', 'BNB', 'DOGE'];
        let html = '<ul>';
        for( let record of pricesRecords ){
          if( !mainCrypto.includes(record.symbol) ) continue;
          else html += '<li>' + `${ record.symbol }: ${record.quote.USD.price.toFixed(3)}$` + '</li>';
        }
        html += '</ul>'
        console.log( html )
        let container = document.getElementById("crypto-prices");
        container.innerHTML = html;
      }
    </script>
    <div id="crypto-prices"></div>
      <ul id="navbar">
        <li><%= link_to "Home", home_pages_path%></li>
        <li><%= link_to "Workers", workers_path%></li>
        <li><%= link_to "Gigs", gigs_path, class: "active" %></li>
        <li><%= link_to "Lavori", lavoros_path%></li>
        <li>
            <% if !user_signed_in? %>
              <div class="loginbox">
                <%= link_to 'Login', new_user_session_path, :method => :get, class: "btn btn-outline-light btn-lg"%>
              </div>
            <% end %>

            <% if user_signed_in? %>
              <div class="loginbox">
                <a href="/user_pages/<%= current_user.id %>" class="btn btn-outline-light btn-lg" >User Page</a>
              </div>
            <% end %>

        </li>
      </ul>
    </nav>
    <!--==========Fine Navbar==========-->

  <br>


   <%= form_tag gigs_path, method: 'get' do %>
     &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <%= text_field_tag :search, params[:search], placeholder:'Cerca...', autocomplete: 'off' %>
     <%= button_tag (fa_icon "magnifying-glass", text: "Cerca "), class: "button" %>
     &nbsp; &nbsp; &nbsp; <%= text_field_tag :search, params[:skill], placeholder:'Cerca una skill...', autocomplete: 'off' %>
     <%= button_tag (fa_icon "magnifying-glass", text: "Cerca "), class: "button" %>
     &nbsp; &nbsp; &nbsp; <%= select_tag :categories, options_for_select(["Design e Visual Art", "Programmazione", "Economia", "Musica e Videomaking" ]),:prompt => "Seleziona una categoria..." %>
      <%= button_tag (fa_icon "filter", text: "Filtra"), class: "button" %>
      &nbsp; &nbsp; &nbsp;
     <% if user_signed_in? %>
      <%= link_to new_gig_path do %>
        <i class="fa-solid fa-plus"> </i> Crea Gig
      <% end %>
    <% end %>
   <% end %>

     





  <br>
  <hr>
  <div id="griglia-gigs">

      <% @gigs.each do |gig|%>
        <div>
          <% if gig.categories == 'Design e Visual Art'%>
              <% image = "Design.jpg" %>
          <% end %>
          <% if gig.categories == 'Programmazione'%>
              <% image = "Progr.jpg" %>
          <% end %>
          <% if gig.categories == 'Economia'%>
              <% image = "Econ.jpg" %>
          <% end %>
          <% if gig.categories == 'Musica e Videomaking'%>
              <% image = "MusVid.png" %>
          <% end %>
          <% if image %>
          <br>
          <%= image_tag(image, width: "175px", height: "100px") %>
          <br>
          <% end %>
          <%= gig.title%>
          <br>
          <a class="btn btn-primary" href="/gigs/<%= gig.id%>">Dettagli</a>
          <br> <br> <br>
        </div>
      <% end %>

  </div>

</body>