 <%= stylesheet_link_tag 'style.css' %>
  <h1>Gigs</h1>

  <br>

  <% @gigs.each do |gig| %>
    <%= link_to gig.title, gig %>
  <% end %>

  <br>

  <%= form_tag gigs_path, method: 'get' do %>
    <%= select_tag :categories, options_for_select(["Design e Visual Art", "Programmazione", "Economia", "Musica e Videomaking" ], "Design e Visual Art") %>
    <%= button_tag (fa_icon "filter", text: "Filtra"), class: "button" %>
  <% end %>

  <br>
  <%= form_tag gigs_path, method: 'get' do %>
    <%= text_field_tag :search, params[:search], placeholder:'Cerca...', autocomplete: 'off' %>
    <%= button_tag (fa_icon "magnifying-glass", text: "Cerca "), class: "button" %>
  <% end %>

  <br>
  <%= form_tag gigs_path, method: 'get' do %>
    <%= text_field_tag :search, params[:skill], placeholder:'Cerca una skill...', autocomplete: 'off' %>
    <%= button_tag (fa_icon "magnifying-glass", text: "Cerca "), class: "button" %>
  <% end %>

  <br>
  <% if user_signed_in? %>
    <%= link_to new_gig_path do %>
      <i class="fa-solid fa-plus"> </i> New Gig
    <% end %>
  <% end %>

  <% if !user_signed_in? %>
    <%= link_to new_user_session_path do %>
      <i class="fa-solid fa-plus"> </i> New Gig
    <% end %>
  <% end %>

  <br>
  <%= link_to new_contact_path do %>
  <i class="fa-solid fa-headset"></i> Assistenza
  <% end %>







