<p > <u> <b> Titolo </u> </b> <br> <%= @gig.title %> </p>

<p> <u> <b> Descrizione </u> </b> <br> <%= @gig.description %> </p>

<p> <u> <b> Skills </u> </b> <br> <%= @gig.skill %> </p>

<p> <u> <b> Categorie </u> </b> <br> <%= @gig.categories %> </p>


<%= link_to "Back", :back %>
&nbsp;&nbsp;&nbsp;

<% if current_user && ((@gig.user == current_user) || (current_user.admin == true)) %>
    <%= link_to "Edit", edit_gig_path%>
    &nbsp;&nbsp;&nbsp;
    <%= link_to "Destroy", gig_path, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %> 
<% end %>




