 <%= stylesheet_link_tag 'show_gigs.css' %>


  <!--==========Navbar==========-->
    <nav>
      <!--=====Logo=====-->
      <div class="logo">
        <a href="/">
          <%= image_tag('Workly_Logo.png', class:"logo", height: "120px") %>
        </a>
      </div>
      <!--=====Schede=====-->
      <script>
      const Http = new XMLHttpRequest();
      const url='http://127.0.0.1:3000/cmc';
      Http.open("GET", url);
      Http.send();

      Http.onreadystatechange = (e) => {
        let res = JSON.parse(Http.responseText)
        let pricesRecords = res.data;
        let mainCrypto = ['BTC', 'ETH', 'BNB', 'DOGE'];
        let html = '<ul>';
        for( let record of pricesRecords ){
          if( !mainCrypto.includes(record.symbol) ) continue;
          else html += '<li>' + `${ record.symbol }: ${record.quote.USD.price.toFixed(3)}$` + '</li>';
        }
        html += '</ul>'
        console.log( html )
        let container = document.getElementById("crypto-prices");
        container.innerHTML = html;
      }
    </script>
    <div id="crypto-prices"></div>
      <ul id="navbar">
        <li><%= link_to "Home", home_pages_path%></li>
        <li><%= link_to "Workers", workers_path%></li>
        <li><%= link_to "Gigs", gigs_path, class: "active"%></li>
        <li><%= link_to "Lavori", lavoros_path%></li>
        <li>
            <% if !user_signed_in? %>
              <div class="loginbox">
                <%= link_to 'Login', new_user_session_path, :method => :get, class: "btn btn-outline-light btn-lg"%>
              </div>
            <% end %>

            <% if user_signed_in? %>
              <div class="loginbox">
                <a href="/user_pages/<%= current_user.id %>" class="btn btn-outline-light btn-lg" >User Page</a>
              </div>
            <% end %>

        </li>
      </ul>
    </nav>
    <!--==========Fine Navbar==========-->

    <br>
    <br>


<div> 

<p > <u> <b> Titolo </u> </b> <br> <%= @gig.title %> </p>

<p> <u> <b> Descrizione </u> </b> <br> <%= @gig.description %> </p>

<p> <u> <b> Skills </u> </b> <br> <%= @gig.skill %> </p>

<p> <u> <b> Categoria </u> </b> <br> <%= @gig.categories %> </p>

<p> <u> <b> Costo </u> </b> <br> <%= @gig.cost %> <%= @gig.currency %> </p>


&nbsp;&nbsp;&nbsp;
<%= link_to "Indietro", gigs_path %>
&nbsp;&nbsp;&nbsp;
<% if current_user && ((@gig.user == current_user) || (current_user.admin == true)) %>
    <%= link_to "Modifica", edit_gig_path%>
    &nbsp;&nbsp;&nbsp;
    <%= link_to "Elimina", gig_path, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %> 
<% end %>

</div>

<br>
<br>
<br>



