<u><h1><%= @gig.title %></h1></u>

<p> <%= "Skills required are: "%>  <u> <b> <%= @gig.skill %> </b> </u>
<ul> </ul>
<%= "Paid in " %>  <u> <b> <%= @gig.currency %> </b> </u>

</p>

  <%= link_to "Edit", edit_gig_path%>
  <%= link_to "Back", root_path %>
  <%= link_to "Destroy", gig_path, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %> 
